@model RolePermission.Model.ChangePasswordModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head id="Head1" runat="server">
    <title>修改密码</title>
    <style type="text/css">
        body {
            font-family: 微软雅黑, 新宋体;
            font-size: 12px;
        }

        fieldset {
            border: 1px solid #CCC;
            margin: 0 auto;
            padding: 9px;
            width: 387px;
        }

        legend {
            font-size: 1.1em;
            font-weight: 600;
            padding: 2px 4px 8px 4px;
        }

        input[type="text"], input[type="password"] {
            border: 1px solid #CCC;
            width: 200px;
        }

        .editor-label { margin: 1em 0 0 0; }

        .editor-field { margin: 0.5em 0 0 0; }

        .field-validation-error, .validation-summary-errors { color: #ff0000; }

        .mbx {
            background: url(/images/direction.gif) 0 center no-repeat;
            border-bottom: 1px #999 dotted;
            color: #9b6835;
            font-weight: bold;
            height: 23px;
            margin: 4px;
            padding: 12px 19px 3px 19px;
        }

        .buttonOn {
            background: url(/images/buttonOn_login.gif) left top no-repeat;
            border: 0px;
            height: 21px;
            margin: 9px, 150px, 0px, 222px;
            text-align: center;
            width: 109px;
        }
    </style>
</head>
<body>
<div class="mbx">
    修改密码
</div>
@using (Html.BeginForm())
{
    <div>
        <fieldset>
            <legend>
                用户名：
                @ViewBag.PersonNamea
            </legend>
            <div class="editor-label">
                @Html.LabelFor(m => m.OldPassword) ：
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.OldPassword)
                @Html.ValidationMessageFor(m => m.OldPassword)
            </div>
            <div class="editor-label">
                @Html.LabelFor(m => m.NewPassword) ：
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.NewPassword)
                @Html.ValidationMessageFor(m => m.NewPassword)
            </div>
            <div class="editor-label">
                @Html.LabelFor(m => m.ConfirmPassword) ：
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>
            <p>
                <input class="buttonOn" type="submit" value="修改密码"/>
            </p>
            <p>
                @Html.ValidationMessage("Error_PwdModify")
                @Html.ValidationSummary(true)
            </p>
        </fieldset>
    </div>
}
</body>
</html>